body,h1,h2,h3,h4,a,span,p,div,img,input,select,button,dl,dt,dd,ul,li,ol,textarea{padding:0;margin:0;list-style:none;}
body{font: 14px/1.5 'PingFang SC','microsoft yahei',tahoma,arial,'helvetica neue','hiragino sans gb',sans-serif,Arial,Helvetica,sans-serif; color:#333; background:#fff;}
a:link,a:visited{text-decoration:none;}
a:visited{ color: #999}
a{outline:none;}






/*---------------------------------index------------------------------*/
/*---------------top--------------*/

.index_wap_con{ width: 100%; margin: 0 auto; display: block; overflow: hidden }

.logo{ height: 70px; margin:24px auto 24px 24px; float: left}
.logo img{ height: 100%;}

.menu{ float: right; height: 128px; line-height: 128px;  }

/*---------------sider_nav--------------*/
.sider_nav{ position: absolute;  top:0; right: 0; background: #fff; width: 60%; padding:10% 5% 0; height: 100%;}
.en{ width: 100%; margin: 5% 0; display: block; overflow: hidden;}
.en a{ width: 44%; margin: 3%; height: 40px; line-height: 40px; border: 1px solid #999; display: block; overflow: hidden; text-align: center; float: left; box-sizing: border-box; color: #999}
.en a:hover{ background:#E94034; color: #fff; border: 0 }


/*---------------news---------------*/
.index_new{ width: 100%;  display: block; overflow: hidden }
.index_new_l{ width: 100%;  height: 320px;  }
.index_new_l img{  width: 100%; height: 100%}
.index_new_r{width: 100%;}

/*------banner轮播--------*/
.turn{ width:100%; height:320px; position:relative; overflow:hidden;}
.turn-loading{ width:100%; height:320px; position:absolute; z-index:4; overflow:hidden; background:#202f42;}
.turn-loading img{ width:32px; height:32px; margin:51px 0 0 135px;}
.turn-pic li{ position:absolute; top:0px; left:0px; filter:alpha(opacity=0); opacity:0; width: 100%}
.turn-pic li img{ width:100%; height:320px; overflow:hidden;}
.turn-bg{ width:100%; height:32px; overflow:hidden; background:#000; position:absolute; z-index:2; bottom:0; filter:alpha(opacity=70); opacity:0.7;}
.turn-tit{ font-size:12px;}
.turn-tit a{ color:#afafaf; text-decoration:none;}
.turn-tit a:hover{ color:#E9453A; text-decoration:none;}
.turn-tit li{ position:absolute; z-index:3; bottom:-20px; left:5px;}
.turn-btn{ position:absolute; z-index:3; font-size:12px; color:#afafaf; bottom:8px; right:27px;}
.turn-btn .lb,.turn-btn .rb{ width:6px; height:9px; background:url(../images/btn.png) no-repeat; overflow:hidden; position:absolute; top:3px; left:-17px; cursor:pointer;}
.turn-btn .rb{ background-position:-6px 0; left:30px;}
.turn-btn span{ text-align:center;}


/*-------index_new_r--------*/
.index_new_r{ width: 96%; margin: 2% }
.index_new_r li{ background:#F0F2F5; margin-bottom: 24px; padding: 20px; display: block; overflow: hidden}
.index_new_r li:hover{cursor: pointer}
.index_new_r li img,.index_new_r li dl{ float: left; display: block; overflow: hidden}
.index_new_r li img{ width: 16% }
.index_new_r li dl{ width: 80%; margin-left: 2%; margin-top: 2% }
.index_new_r li dl dt{font-size: 1.2em; font-weight: bold; margin-bottom: 2%;overflow: hidden;
    text-overflow:ellipsis;white-space: nowrap;}
.index_new_r li dl dt a{ color: #333;}
.index_new_r li dl dt a:hover{ color:#E94034 }
.index_new_r li dl dd{ font-size: 1.2em; text-overflow:ellipsis;white-space: nowrap;overflow: hidden; }
.index_banner{ margin:0 2%; width: 96%;}
.index_banner img{ width: 100%; height: 100%}



/*---------news--------*/
.news{ display: block; overflow: hidden; margin-top: 2%}
.news_l,.news_c,.news_r{ width: 96%; margin:0 2% 2%; border-left: 1px solid #f1f1f1;border-right: 1px solid #f1f1f1 ;border-bottom: 1px solid #f1f1f1}
.news_l_tittle_j{ border: none}
.news_l_tittle,.news_l_tittle_j{ height:40px; border-top: 3px solid #E94034; background: #fff; line-height: 40px;  }
.news_l_tittle h4,.news_l_tittle_j h4{  padding: 0 4%; color: #E94034; float: left; font-size: 1.2em;}
.news_l_tittle a,.news_l_tittle_j a{ float: right; margin-right: 2%; font-size: 0.9em; color: #999}
.news_l_con,.news_l_t_con{ padding:0 4%; border-top:1px solid #f1f1f1}
.news_l_con li,.news_l_t_con li{ line-height: 20px;  }

.news_l_con li a,.news_l_t_con li a{ font-size: 1em; color: #333; width:80%; display:inline-block;overflow: hidden;
    text-overflow:ellipsis;white-space: nowrap;  }
.news_l_con li a{ line-height: 30px; }
.news_l_t_con li a{line-height: 45px }
.news_l_t_con li a{background: url("../images/icon_disc.png") no-repeat center left; padding-left: 24px;}
.news_l_t_con li a{ width: 310px;}
.news_l_con li a:hover,.news_l_t_con li a:hover{ cursor: pointer; color:#E94034; text-decoration: underline }
.news_l_con li span,.news_l_t_con li span{  float: right; color: #999;width:16%; margin-right: 2%;
    display: block; overflow: hidden;  float: right; text-align: right ; line-height: 45px;}

.news_l_t_img,.news_l_t_img_r{ background:#f7f7f7; height: 100px; margin-bottom: 12px; }
#news_l_t_img a,.news_l_t_img_r a{ background: none; width: 540px; white-space:normal; padding-left: 0}
#news_l_t_img img,.news_l_t_img dl,#news_l_t_img_r img,#news_l_t_img_r dl{ float: left}
#news_l_t_img img,.news_l_t_img_r img{ width: 150px; height: 100px; margin-right: 20px; }
#news_l_t_img dl,.news_l_t_img_r dl{ width:310px; margin-top: 5px; }
#news_l_t_img dl dt,.news_l_t_img_r dl dt{ font-size: 16px; font-weight: bold; line-height: 24px;}
#news_l_t_img dl dd,.news_l_t_img_r dl dd{ line-height: 20px; margin-top: 8px;overflow: hidden;
    text-overflow:ellipsis;white-space: nowrap }

.index_news01{display: block; overflow: hidden;background: #f9f9f9; margin: 20px 0;}
.index_news01 img,.index_news01 dl{ float: left; display: block; overflow: hidden}
.index_news01 img{ width: 10% ; margin-right: 2%}
.index_news01 dl{ width: 88%}
.index_news01 a{ font-weight: 500; line-height: 36px !important;}

/*---------------landscape---------------*/
.index_landscape{width: 96%; margin: 2%;}
.index_landscape_tittle{ width: 100%; height: 40px; line-height: 40px; margin-bottom:24px; }
.index_landscape_tittle li{color: #666;float: left; text-align: center; padding: 0 4%; font-size: 1.2em; font-weight: bold}
.index_landscape_tittle li.current{ background:#E94034; color: #fff;  border: 1px solid red;  position: relative; }
.index_landscape_tittle li.current:before {content: "";  position: absolute;  right: 50%;  top: 36px;  width: 10px;  height: 10px;  background: #E94034;  transform: rotate(225deg);  }

.rolling_new_con{ border: 1px solid #f1f1f1;
   }

#marquePic1 td,#marquePic2 td{ padding: 0 10px 5px;}
#marquePic1 td a,#marquePic2 td a{color: #808080}

.index_landscape_con{ display: block; overflow: hidden}
.index_landscape_img,.index_landscape_in{ float: left;}
.index_landscape_img{ width: 100%; }
.index_landscape_img img{ width: 100%; height: 100%;}
.index_landscape_in{ width: 96%; padding:0 2%; background:#F9F9F9; position: relative }
.index_landscape_in h4{ margin-top: 2%; line-height: 40px; font-size: 1.4em; padding: 0 2%}
.index_landscape_in h4:hover{ color:#E94034; cursor: pointer }
.index_landscape_in hr{margin-bottom: 2%;}
.index_landscape_in p{  font-size: 1em; line-height: 26px; }
.index_landscape_in a{ border: 1px solid #f1f1f1;  width: 100px; height: 40px; line-height: 40px; text-align: center; margin:2% 1% 3% auto;  display: block; overflow: hidden; color: #999}
.index_landscape_in a:hover{ border: 1px solid #E94034; color:#E94034 }



/*---------------index_bottom---------------*/
.index_bottom{width: 96%; display: block; overflow: hidden; margin: 2% auto; }
.index_stars{ width: 100%; float: left; border: 1px solid #F5F5F5; box-sizing: border-box}
.index_cantact_us{  border: 1px solid #F5F5F5; display: none }
.index_stars_con li{ width: 15%; padding:2% 0 2% 8%; float: left; text-align: center}
.index_stars_con li img{ width: 100%;}
.index_stars_con li span{ line-height: 40px; color: #333; font-size: 1.2em;}
.index_cantact_us_con{ padding:24px;}
.index_cantact_us_con dl{ line-height: 30px; font-size: 1.6em; margin-bottom: 12px;}
.index_cantact_us_con dl dt{color:#999; }

.index_stars_con{ display: block; overflow: hidden; border-top:1px solid #f1f1f1}


/*---------------index_nav_menu---------------*/
.nav_menu{ width: 96%; margin: 6% auto}
.nav_menu_tittle h3{ width: 30%; border-left: 10px solid #E94034; float: left; text-align: center; display: block; overflow: hidden}
.nav_menu_tittle span{ width: 65%; float: right; height: 30px; background:#f8f8f8 ; display: block; overflow: hidden }
.nav_menu_con,.nav_menu_tittle{ display: block; overflow: hidden; margin-top: 2%  }



/*---------------footer---------------*/
.footer{ width: 100%; height: 90px; line-height: 90px; margin: 10% auto 0; text-align: center; color: #fff; background:#E93C2F; font-size: 1em; display: block; overflow: hidden }

.subNavBox{display: block; overflow: hidden; margin-top: 2%  }
.subNav{border-bottom:solid 1px #e5e3da;cursor:pointer;font-size:1em;color:#999;line-height:50px;background:url(../images/jiantou1.jpg) no-repeat; background-position:1% 50%; padding-left: 10%}
.currentSub{ background-position:95% 50%; height: 60px; line-height: 60px;}
.subNav:hover{color:#999;}
.currentDd{color:#999}
.currentDt{background-image:url(../images/jiantou.jpg);}
.navContent{display: none;border-bottom:solid 1px #e5e3da;}
.navContent li a{display:block;width:100%;height:50px;font-size:1em;line-height:50px;color:#333; padding-left: 12%}
.navContent li a:hover{color:#fff;background-color:#E94034}

/*---------------index_link---------------*/
.index_link{ border-left:1px solid #f1f1f1;border-right:1px solid #f1f1f1;border-bottom:1px solid #f1f1f1; width: 96%; margin: 2% auto; box-sizing: border-box}
.index_link_con{ width: 96%; margin: 0 auto; border-top: 1px solid #f1f1f1; padding: 20px 0; display: block; overflow: hidden}
.index_link_con li{ width: 50%;  float: left; text-align: center; line-height: 80px; height: 80px; border: 1px dashed #e1e0e0; box-sizing: border-box}
.index_link_con a{ color:#333; font-size: 1.2em;  }
.index_link_con a:hover{ text-decoration: underline; color:#E93C2F }



/*---------------------------------notice------------------------------*/
.vticker {
    margin: 20px auto;
    width: 100%;
    font-size: 1.2em;
    font-weight: 500;
    overflow: hidden; text-overflow:ellipsis; white-space:nowrap;
}
.vticker ul {
    padding: 0;
}
.vticker li {
    list-style: none;
    border: 0;
    padding: 10px;
}



.notice_li{ padding: 10px 0 !important; border-bottom: 1px dashed #EAEAEA !important;}
.notice_li a{ background: url("../images/icon_disc.png") no-repeat center left !important; display: block; overflow: hidden; color: #505050;}
.notice_li a:hover{  color: #E9453A; text-decoration: underline}
.notice_li p{ float: left; margin-bottom: 0 !important; width: 80%; text-indent: 0 !important; overflow: hidden; text-overflow:ellipsis; white-space:nowrap;  }
.notice_li span{ float: right; width: 20%; line-height: 28px; text-align: right}

.notice_con__r_contact{ margin: 0 auto; text-align: center; }
.notice_con__r_contact h4{ font-size: 1.4em; margin-bottom: 10px;}
.notice_con__r_contact span{ margin-bottom: 20px; display: block; overflow: hidden; color: #999}
.notice_con__r_contact span small{ margin-right: 20px;}
.notice_con__r_contact b,.notice_con__r_contact p{ text-align: left; display: block; line-height: 30px; font-size: 1.2em; font-weight: normal}
.notice_con__r_contact b{ margin-bottom: 10px;}
.notice_con__r_contact p{ text-indent: 2em;}
.notice_con__r_contact ul{ margin: 50px 20px 0 0 ; text-align: right; color: #666; font-size: 1.2em; }
.notice_con_paging{ margin-top: 100px;}
.notice_con_paging p{ line-height: 30px;}
.notice_con_paging a{ background:none !important; color: #333; padding-left: 4px;}
.notice_con_paging a:hover{ color:#E9453A;text-decoration: underline }

/*---------------------------------introduce------------------------------*/
.introduce_banner{ margin: 0 auto; position: relative; width: 100%; }
.introduce_banner img{ width: 100%; height: 100%;}
.banner_introduce_text{ width: 180px; height: 100px;background:#E93C2F; position: absolute; bottom: 30px; padding-left:24px;color: #fff; filter:alpha(opacity:90); opacity:0.9;  -moz-opacity:0.9;-khtml-opacity: 0.9 }
.banner_introduce_text hr{ width: 50px;  margin-top: 20px; border: 1px solid #fff; margin-left: 0}
.banner_introduce_text h2{ font-size: 1.6em; line-height: 40px;  letter-spacing: 2px;}
.banner_introduce_text p{text-transform:uppercase; font-size: 0.8em;}
.introduce_position{ margin: 24px auto; width: 92%; display: block; overflow: hidden}
.introduce_position a{ padding-left: 24px; background:url("../images/icon_triangle.jpg") no-repeat center left; margin-right: 12px; color: #999 }
.introduce_position a:first-child{ background:url("../images/icon_home.jpg") no-repeat center left; }
.introduce_l{ display: none; width: 210px;  background:#E9453A; color: #fff; overflow: hidden;padding: 20px 0 50px; float: left;  }
.introduce_l li{ line-height: 40px; padding-left: 30px;}
.introduce_l li a{ color: #fff; font-size: 1.4em;}
.introduce_l li:hover{ background: #fff; border-left: 5px solid #BAD274;}
.introduce_l li:hover a{color:#818181;}
.introduce_l li a:hover{color:#818181;}
.introduce_address{ padding-left: 12px; margin-top: 400px; font-size: 1.2em;}
.introduce_address h4{ font-size: 1.4em;}
.introduce_address hr{ width: 186px; border: 0.3px solid #fff; margin-bottom: 12px; margin-left: 0;}
.introduce_address dl{ margin-bottom: 6px;}
.introduce_r{ float: none; width: 92%; margin: 0 auto}
.introduce_r_tittle{ margin-bottom: 24px;}
.introduce_r_tittle h3{color:#E9453A ; float: left; width: 10%}
.introduce_r_tittle span{ background: url("../images/icon_line.png") repeat-x center left; width: 90%; height: 20px; display: block; overflow: hidden}
.introduce_r_contact p{ text-indent: 2em; line-height: 28px; margin-bottom: 24px; font-size: 1.2em; color: #666}



/*---------------------------------history------------------------------*/
.introduce_r_history_contact li{ margin-bottom: 50px; display: block; overflow: hidden}
.history_time{ font-size: 2em; }
.history_time span{ width: 50px; height: 5px; background: #E9453A; display: block; overflow: hidden; margin-top: 7px;}
.history_con{ width: 100% }
.history_con dt{ font-size: 1.4em; font-weight: bold; line-height: 32px; margin: 10px auto}
.history_con dd{ font-size: 1.2em; line-height: 28px; color: #666}




/*---------------------------------emblem------------------------------*/
.emblem{ text-align: center; margin: 0 auto;}
.emblem h2,.join h2{ font-size: 1.6em; margin: 0 auto 24px; text-align:  center; }
.emblem img{ width: 200px;}




/*---------------------------------join------------------------------*/
.join_in{ margin-bottom: 100px;}
.join_in b{ margin: 6px auto 2px;font-size: 1em; display: block; overflow: hidden}
.join_in li ul li,.join_in li dl,.join_in li p{ text-indent: 2em; }
.join_in a{ margin-top: 24px;color:#E9453A}
.down_a:hover{ text-decoration: underline}


/*---------------------------------master------------------------------*/
.master h4{ width: 98%; height: 50px; line-height: 50px; font-size: 1.4em; background: #F0F2F5; padding-left: 2%; margin-bottom: 2%;}
.master li ul li{ float: left}
.master ul li{ display: block; overflow: hidden; margin-bottom: 2%;}
.master ul li ul{ display: block; overflow: hidden}
.master li ul li{ width: 22%; margin-right: 4%; text-align: center}
.master li ul li:last-child{ margin-right: 0}
.master li ul li img{ width: 100%;}
.master li ul li b{ line-height: 40px; font-size: 1.2em;}




/*---------------------------------news------------------------------*/
.introduce_r_contact li{  display: block; overflow: hidden; border-bottom: 1px solid #EAEAEA; padding: 3% 0}
.news_time,.news_con{ float: left}
.news_time{ width: 10%;  margin-right: 5%; border: 1px solid #F0F0F0; text-align: center; line-height: 50px; font-size: 1em;}
.news_time_day{ background: #EB8F8C; color: #fff; font-size: 1.6em;}
.news_time_year{ font-size: 1.2em; color: #999}
.news_con{ width: 80%;}
.news_con dt{ font-size: 1.4em;  line-height: 40px; font-weight: bold; margin-bottom: 2%}
.news_con dt a{ color: #333;}
.news_con dt a:hover{ color:#E9453A; cursor: pointer }
.news_con dd{  line-height: 28px; color: #666; font-size: 1.2em}

.page{ margin-top:80px;}
.page_div { margin-top: 20px; margin-bottom: 20px; font-size: 0.9em;  color: #666666; margin-right: 10px;  padding-left: 20px;  box-sizing: border-box;  text-align: center;  }
.page_div a { min-width: 30px;  height: 40px;  border: 1px solid #dce0e0!important;  text-align: center;  margin: 0 4px;  cursor: pointer;  line-height: 40px;  color: #666666;  font-size: 1em;  display: inline-block;  }
#firstPage, #lastPage { width: 60px;  color: #E9453A;  border: 1px solid #E9453A!important;  }
#prePage, #nextPage { color: #E9453A;  border: 1px solid #E9453A!important;  }
.page_div .current {  background-color: #E9453A;  border-color: #E9453A;  color: #FFFFFF;  }
.totalPages { margin: 0 10px;  }
.totalPages span, .totalSize span { color: #E9453A; margin: 0 5px;}
.page_phone{ display: none}





/*---------------------------------news_contact------------------------------*/
.news_contact{ margin-bottom: 100px;}
.news_contact h4{ text-align: center; margin: 40px auto 10px; font-size: 1.4em;}
.news_contact span{display: block; overflow: hidden; text-align: center; margin-bottom: 5%}
.news_contact span small{ padding: 0 20px; color: #999}
/*.news_contact p{ margin-bottom: 24px; line-height: 28px; font-size: 1.2em}*/
.news_contact p{ line-height: 28px; font-size: 1.2em}
.news_contact p img{width:100%}
.news_contact_img{ margin: 24px 0;}
.news_contact_img img{ }


/*---------------------------------celebrity------------------------------*/
.celebrity{ display: block; overflow: hidden}
.celebrity li{ background: #F9F9F9; margin-bottom: 20px; display: block; overflow: hidden; }
.celebrity li a{ margin: 0; padding: 0; background: none !important; color: #333}
.celebrity li img,.celebrity li dl{ float: left; display: block; overflow: hidden}
.celebrity li img{ width: 20%;  margin-right: 3%;}
.celebrity li dl{ width: 74%; margin-bottom: 5% }
.celebrity li dl dt{ line-height: 50px; font-size: 1.8em; font-weight: bold; margin-top: 12px; margin-bottom: 3%}
.celebrity li dl dd{ line-height: 28px; font-size: 1.2em}


/*---------------------------------brand------------------------------*/
.brand li a{ background: none !important; padding-left: 0; color: #333; margin-right: 0; font-weight: 600}
.brand li{ float: left; width: 22%; margin-right: 4%; display: block; overflow: hidden; text-align: center; background: #F9F9F9; margin-bottom: 40px;}
.brand li:nth-child(4n){ margin-right: 0 }
.brand li img{ width: 100%; }
.brand li p{ line-height: 30px; font-weight: 600; margin: 2% 0}



/*---------------------------------link------------------------------*/
.link_list h4{ line-height: 30px; margin-bottom: 20px;}
.link_list ul{ width: 100%;  margin-bottom: 50px;border-top: 1px dashed #999 ; border-left: 1px dashed #999 ; display: block; overflow: hidden; box-sizing: border-box }
.link_list li{ width: 20%;box-sizing: border-box;  height: 75px; line-height: 75px; text-align: center; float: left; border-bottom: 1px dashed #999 ;border-right: 1px dashed #999 ;}
.link_list li a{ background: none !important; padding-left: 0; color: #333; margin-right: 0}
.link_list li a:hover{ color:#E9453A }



/*---------------------------------contact------------------------------*/
.contact_t{ margin: 24px auto 50px; display: block; overflow: hidden}
.contact_t_message,.contact_add{ float: left;  display: block; overflow: hidden;}
.contact_t_message{ border-right: 1px solid #D5D5D5;width: 50%;box-sizing: border-box;-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; }
.contact_t_message div{  line-height: 42px; margin-bottom: 24px; padding-left: 12px;}
.contact_t_message input,.contact_t_message label
.contact_t_message input{ height: 42px; line-height: 42px; font-size: 1.6em; border: 1px solid #EAEAEA; padding-left: 12px; }
.contact_t_message textarea{ height: 200px;  vertical-align: top;font-size: 1.6em;  border: 1px solid #EAEAEA; padding-left: 12px; line-height: 42px; width: 80%}
.contact_t_message a{ background: #E9453A; color: #fff;  height: 42px; line-height: 42px; text-align: center; padding-left: 0; display: block; margin-left: 14%; width: 50%}
.contact_t_message a:hover{ background:#C73A31; color: #fff }
.contact_t_message p{ margin:20px auto 0 60px;}
.contact_add{  width: 46%; padding: 0 0 0 4%}
.contact_add h4{ line-height: 40px; font-size: 1.4em;}
.contact_img{ width: 520px; height: 260px; margin-top: 40px}
.contact_img img{ width: 100%; height: 150%}



/*---------------------------------national------------------------------*/
.national{ margin-top: 24px; display: block; overflow: hidden}
.national_l,.national_r{ float: left}
.national_l{ width: 780px; margin-right: 24px;}
.national_tittle{ margin-bottom: 20px; display: block; overflow: hidden}
.national_tittle h3{  padding: 0 50px; text-align: center; border-left:2px solid #E9453A; float: left}
.national_tittle span{ float:right; height: 20px; background:#F1F1F1 ; display: block;
    overflow: hidden;}
.national_l_list{ display: block; overflow: hidden}
.national_l_list li{ display: block; overflow: hidden; margin-bottom: 24px;}
.national_img,.national_text{ float: left}
.national_img{ width: 250px; height: 160px; margin-right: 20px;}
.national_img img{ width: 100%; height: 100%}
.national_text{ width: 500px;}
.national_text h4{ line-height: 40px; font-size: 1.6em;}
.national_text div{ width: 500px; height: 24px; line-height: 24px; background:#F6F6F6; margin-bottom: 12px; }
.national_text div span{ width: 100px; display: block; overflow: hidden; float: left; padding-left: 20px; margin-left: 10px;}
.national_list_all{ width: 100px; height: 28px; line-height: 28px; text-align: center; display: block; overflow: hidden; border-radius: 3px; background: #E9453A; color: #fff; margin-top: 12px}
.national_introduce_list li{ line-height: 50px; border-bottom: 1px solid #F2F2F2; padding-left: 40px;}
.national_video,.national_introduce{ margin-bottom: 50px;}


@media only screen and (min-width: 1199px){
}
@media only screen and (min-width: 768px) and (max-width: 959px){
    .index_stars_con li{ width: 32%; padding: 4% 0 4% 12%}
    .logo{ height: 60px;}
    .index_new_l{ height: 300px;}
    .menu{ height: 108px;}
    .introduce_r{ margin: 0 auto 3%; float: none; width: 92%}
    .introduce_r_tittle h3{width: 14%}
    .introduce_r_tittle span{ width: 86%}
    .news_contact_img img{ width: 100% }
    .celebrity li img{ margin: 2%}
    .brand li{ float: left; width: 30%; margin-right: 5%; display: block; overflow: hidden; text-align: center; background: #F9F9F9; margin-bottom: 40px;}
    .brand li:nth-child(4n){ margin-right: 5% }
    .brand li:nth-child(3n){ margin-right: auto}
    .brand li p{ line-height: 30px; font-weight: 600; margin: 2% 0}
    .link_list li{ width: 25%;box-sizing: border-box; -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;  height: 75px; line-height: 75px; text-align: center; float: left; border-bottom: 1px dashed #999 ;border-right: 1px dashed #999 ;}
    .contact_t_message,.contact_add{ width: 100%;}
    .contact_t_message{ border-right: 0; border-bottom: 1px solid #D5D5D5; margin-bottom: 10%; padding-bottom: 10%}

    .turn,.turn-loading,.turn-pic li img{ height: 300px;}

    .index_news01 img{width: 15%}
    .index_news01 dl{ width: 83%}
    .page{ margin-top: 0}
    .notice_li a{ font-size: 1em;padding-left: 2%; margin-right: 0}

}

@media only screen and (min-width: 480px) and (max-width: 767px){
    .logo{ height: 50px; margin: 2% auto 2% 2%}
    .index_new_l{ height: 250px;}
    .turn,.turn-loading,.turn-pic li img{ height: 250px;}
    .menu{ height: 50px; line-height: 50%}
    .menu img{ width: 60%}
    .index_new_r li{padding: 2%; margin-bottom: 2%}
    .index_new_r li img{ width: 16%}
    .index_new_r li dl{width: 70%; margin-left: 2%; margin-top: 1%}
    .index_new_r li dl dt{ font-size: 1em; line-height: 32px; font-weight: 500}
    .index_new_r li dl dd{ font-size: 0.9em}
    .news_l_tittle h4,.index_landscape_tittle li{ padding: 0 4%; font-size: 1em}
    .nav_menu_tittle h3{ font-size: 1em; height: 30px; line-height: 30px; border-left-width:8px; }
    .news_l_tittle a{font-size: 0.9em}
    .index_landscape_in h4{ font-size: 1em}
    .index_landscape_in p{ font-size: 1em}
    .index_news01 img{ width: 20%}
    .index_news01 dl{ width: 78%}
    .index_news01 a{ line-height: 28px !important;}

    .index_stars_con li{ width: 32%; padding: 4% 0 4% 12%}
    .footer{ line-height: 28px;  padding: 5%; width: 90%; height: auto}
    .index_link_con a{ font-size: 1em;}

    .introduce_banner img{ height: 120px;}
    .banner_introduce_text{ width: auto; height: auto; padding: 2% 5%; bottom: 10%}
    .banner_introduce_text hr{ margin-top: 0;}
    .banner_introduce_text h2{ font-size: 1.2em; line-height: 30px;}
    .banner_introduce_text p{ font-size: 0.7em}
    .introduce_r{ margin: 0 auto 3%; float: none; width: 92%}
    .introduce_r_tittle h3{width: 22%}
    .introduce_r_tittle span{ width: 78%}

    .news_contact_img img{ width: 100% }

    .celebrity li img{ margin: 2%}
    .celebrity li dl dt{ font-size: 1.4em; line-height: 40px;}
    .celebrity li dl{ height: auto;}
    .celebrity li dl dd{ margin-bottom: 8%; }

    .brand li{ float: left; width: 47%; margin-right: 6%; display: block; overflow: hidden; text-align: center; background: #F9F9F9; margin-bottom: 40px;}
    .brand li:nth-child(2n){ margin-right: 0}
    .brand li p{ line-height: 30px; font-weight: 600; margin: 2% 0}

    .link_list li{ width: 50%;box-sizing: border-box;  height: 75px; line-height: 75px; text-align: center; float: left; border-bottom: 1px dashed #999 ;border-right: 1px dashed #999 ;}

    .contact_t_message,.contact_add{ width: 100%;}
    .contact_t_message{ border-right: 0; border-bottom: 1px solid #D5D5D5; margin-bottom: 10%; padding-bottom: 10%}
    .contact_img{ width: 100%}

    .page{ margin-top: 0}
    .notice_li a{ font-size: 0.9em;padding-left: 2%; margin-right: 0}




}
@media only screen and (min-width: 321px) and (max-width: 479px){
    .logo{ height: 50px; margin: 2% auto 2% 2%}

    .menu{ height: 50px; line-height: 50%}
    .menu img{ width: 60%}
    .index_new_l{ height: 200px;}
    .turn,.turn-loading,.turn-pic li img{ height: 200px;}
    .index_new_r li{padding: 2%; margin-bottom: 2%}
    .index_new_r li img{ width: 24%}
    .index_new_r li dl{width: 70%; margin-left: 2%; margin-top: 0}
    .index_new_r li dl dt{ font-size: 1.1em; white-space: normal; line-height: 28px; font-weight: 500;}
    .index_new_r li dl dd{ font-size: 0.9em; display: none}
    .news_l_tittle h4,.index_landscape_tittle li{ padding: 0 4%; font-size: 1.2em}
    .nav_menu_tittle h3{ font-size: 1.2em; height: 30px; line-height: 30px; border-left-width:8px; }
    .news_l_tittle a{font-size: 0.9em}
    .index_landscape_in h4{ font-size: 1.2em;  line-height: 30px;}
    .index_landscape_in p{ font-size: 1.2em}

    .index_news01 img{ width: 26%;}
    .index_news01 dl{ width: 70%}
    .index_news01 dl dt a{ line-height: 24px }
    .index_news01 dl dd{text-overflow:ellipsis; white-space: nowrap; overflow: hidden; color: #555 }

    .news_l_con li a{ width: 100%}
    .news_l_t_con li a{ width: 80%; padding-left: 4%;line-height: 38px;}
    .news_l_con li span, .news_l_t_con li span{ margin-right: 0; line-height: 38px;}
    .index_link_con a{ font-size: 1em;}

    .index_stars_con li{ width: 38%; padding: 4% 0 4% 8%}
    .footer{ line-height: 28px;  padding: 5%; width: 90%; height: auto}

    .introduce_banner img{ height: 120px;}
    .banner_introduce_text{ width: auto; height: auto; padding: 2% 5%; bottom: 10%}
    .banner_introduce_text hr{ margin-top: 0;}
    .banner_introduce_text h2{ font-size: 1.2em; line-height: 30px;}
    .banner_introduce_text p{ font-size: 0.7em}
    .introduce_r{ margin: 0 auto 10%; float: none; width: 92%}
    .introduce_r_tittle h3{width: 22%}
    .introduce_r_tittle span{ width: 78%}

    .introduce_r_tittle h3{ width: 30%;}
    .introduce_r_tittle span{ width: 70%}
    .master li ul li{ width: 44%; margin: 3%}

    .news_time{ width: 20%; line-height: 38px;}
    .news_con{ width: 72%}
    .news_time_day{ font-size: 1.4em}
    .news_time_year{ font-size: 1.2em}
    .news_con dt{ line-height: 30px;}
    .page_div{ display: none}
    .page_phone{ display:block; margin:5% auto;font-size: 0.9em;    box-sizing: border-box;  text-align: center; overflow: hidden; width: 80%;}
    .page_phone a{height: 40px;  text-align: center;   cursor: pointer;  line-height: 40px;  font-size: 1em;color: #E9453A; width: 40%;   border: 1px solid #E9453A ; float: left}
    .page_phone a:first-child{ margin-right: 18%}

    .news_contact_img img{ width: 100% }

    .celebrity li img{ margin: 5% 0 0 5%; width: auto}
    .celebrity li dl dt{ font-size: 1.4em; line-height: 30px; margin-top: 0}
    .celebrity li dl{ height: auto; width: 90%; margin: 5%}
    .celebrity li dl dd{ margin-bottom: 8%}

    .brand li{ float: left; width: 47%; margin-right: 6%; display: block; overflow: hidden; text-align: center; background: #F9F9F9; margin-bottom: 40px;}
    .brand li:nth-child(2n){ margin-right: 0}
    .brand li p{ line-height: 30px; font-weight: 600; margin: 2% 0}

    .link_list li{ width: 50%;box-sizing: border-box;  height: 75px; line-height: 75px; text-align: center; float: left; border-bottom: 1px dashed #999 ;border-right: 1px dashed #999 ;}

    .contact_t_message,.contact_add{ width: 100%;}
    .contact_t_message{ border-right: 0; border-bottom: 1px solid #D5D5D5; margin-bottom: 10%; padding-bottom: 10%}
    .contact_add{ padding: 0}
    .contact_img{ width: 100%}

    .page{ margin-top: 0}
    .notice_li a{ font-size: 0.9em;padding-left: 2%; margin-right: 0}

    .vticker li{font-size: 1em; text-overflow:ellipsis; white-space: nowrap; overflow: hidden; width: 66% }



}

@media only screen  and (max-width: 320px){
    .index_new_l img{width: 100%;height: auto }
    .index_new_l{ height: auto}
    .turn,.turn-loading,.turn-pic li img{ height: 180px;}
    .logo{ height: 40px; margin: 2% auto 2% 2%}

    .menu{ height: 40px; line-height: 40px}
    .menu img{ width: 60%}


    .index_new_r li{padding: 2%; margin-bottom: 2%}
    .index_new_r li img{ width: 28%}
    .index_new_r li dl{width: 70%; margin-left: 2%;}
    .index_new_r li dl dt{ font-size: 1em; margin: 2% 0;text-overflow:unset; white-space:normal; line-height: 28px; font-weight: 400}
    .index_banner{ width: 100% }
    .index_new_r li dl dd{ font-size: 0.9em; display: none}
    .news_l_tittle h4,.index_landscape_tittle li{ width: 35%; font-size: 1em}
    .news_l_tittle a{font-size: 0.9em}
    .index_landscape_in h4,.nav_menu_tittle h3{ font-size: 1em; line-height: 30px;}
    .index_landscape_in p{ font-size: 0.9em}
    .index_landscape_in a{ width: auto; margin: 2% 3% 5%}

    .news_l_t_con li a{ width: 80%; padding-left: 4%;line-height: 38px;}
    .news_l_con li span, .news_l_t_con li span{ margin-right: 0; line-height: 38px;}
    .index_link_con a{ font-size: 0.9em}
    .index_stars_con li span{ font-size: 1em}
    .index_stars_con li{ width: 41%; padding: 4% 0 4% 6%}
    .nav_menu_tittle h3{ border-left-width: 5px; width: 30%}
    .nav_menu_tittle span{ width: 60%}

    .footer{ line-height: 24px;  padding: 5%; width: 90%; height: auto; font-size: 0.9em}

    .introduce_banner{ margin: 0 auto}
    .introduce_banner img{ height: 100px;}
    .banner_introduce_text{ width: auto; height: auto; padding: 2% 5%; bottom: 10%}
    .banner_introduce_text hr{ margin-top: 0;}
    .banner_introduce_text h2{ font-size: 1.2em; line-height: 30px;}
    .banner_introduce_text p{ font-size: 0.7em}
    .introduce_r{ margin: 0 auto; float: none; width: 92%}
    .introduce_r_tittle h3{width: 30%}
    .introduce_r_tittle span{ width: 70%}
    .introduce_position{ margin: 5% auto}

    .history_time{ font-size: 1.6em}

    .emblem h2, .join h2{ font-size: 1.4em}

    .join_in li ul li, .join_in li dl, .join_in li p{ text-indent: 1em}

    .introduce_r{ margin-bottom: 4%}
    .introduce_r_tittle h3{ width: 36%;}
    .introduce_r_tittle span{ width: 64%}
    .news_contact_img{ margin:2% 0 }
    .master li ul li{ width: 44%; margin: 3%}
    .master h4{font-size: 1.4em}
    .master li ul li b{ font-size: 1em}
    .master li ul li p{ font-size: 0.9em}

    .news_time{ width: 20%; line-height: 30px;}
    .news_con{ width: 72%}
    .news_time_day{ font-size: 1em}
    .news_time_year{ font-size: 1em}
    .news_con dt{ line-height: 26px; font-size: 1.2em; margin-bottom: 1%}
    .news_con dd{ line-height: 22px; font-size: 1em}

    .page_div{ display: none}
    .page_phone{ display:block; margin:5% auto;font-size: 0.9em;    box-sizing: border-box;  text-align: center; overflow: hidden; width: 80%;}
    .page_phone a{height: 40px;  text-align: center;   cursor: pointer;  line-height: 40px;  font-size: 1em;color: #E9453A; width: 40%;   border: 1px solid #E9453A ; float: left}
    .page_phone a:first-child{ margin-right: 18%}

    .news_contact h4{margin-top: 8%; font-size: 1.2em;}
    .news_contact span{ margin-bottom: 2%}
    .news_contact p{line-height: 24px; margin-bottom: 2% }
    .news_contact_img img{ width: 100% }

    .celebrity li img{ margin: 5% 0 0 5%; width: auto}
    .celebrity li dl dt{ font-size: 1.4em; line-height: 30px; margin-top: 0}
    .celebrity li dl{ height: auto; width: 90%; margin: 5%}
    .celebrity li dl dd{ margin-bottom: 8%}

    .brand li{ float: left; width: 47%; margin-right: 6%; display: block; overflow: hidden; text-align: center; background: #F9F9F9; margin-bottom: 40px;}

    .brand li:nth-child(2n){ margin-right: 0}
    .brand li p{ line-height: 30px; font-weight: 600; margin: 2% 0}

    .link_list li{ width: 50%;box-sizing: border-box;  height: 75px; line-height: 25px; text-align: center; float: left; border-bottom: 1px dashed #999 ;border-right: 1px dashed #999 ; display:flex; align-items: center}
    .link_list a{ font-size: 0.9em}
    .contact_t_message,.contact_add{ width: 100%;}
    .contact_t_message{ border-right: 0; border-bottom: 1px solid #D5D5D5; margin-bottom: 10%; padding-bottom: 10%}
    .contact_add{padding: 0}
    .contact_img{ width: 100%; height: auto}
    .contact_t_message input, .contact_t_message label ,.contact_t_message input,.contact_t_message textarea{ width: 100%;box-sizing: border-box;  -webkit-box-sizing: border-box;  -moz-box-sizing: border-box;  }
    .contact_t_message div{padding-left: 0; margin-bottom: 2%}
    .contact_t_message a{ margin:5% 0 5% ; }
    .contact_t_message p{ margin: 2% auto 5% 0}

    .page{ margin-top: 0}

    .notice_li a{ font-size: 0.9em; padding-left: 2%; margin-right: 0}
    .index_news01 img{ width: 24%}
    .index_news01 dl{width: 74% }
    .index_news01 dt{ line-height: 24px;}
    .index_news01 dt a{ line-height: 20px !important;}
    .index_news01 dd{text-overflow:ellipsis;white-space: nowrap;overflow: hidden; }
    .vticker li{ font-size: 1em; text-overflow:ellipsis; white-space: nowrap; overflow: hidden; width: 55%  }


}






















































