<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jiantong.dao.ArticleDao">
	<resultMap id="BaseResultMap" type="com.jiantong.entity.Article">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="column_id" property="columnId" jdbcType="INTEGER" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="title_img" property="titleImg" jdbcType="VARCHAR" />
		<result column="is_top" property="isTop" jdbcType="INTEGER" />
		<result column="is_recommend" property="isRecommend" jdbcType="INTEGER" />
		<result column="sort" property="sort" jdbcType="INTEGER" />
		<result column="view_count" property="viewCount" jdbcType="INTEGER" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<resultMap id="DetailResultMap" type="com.jiantong.entity.Article">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="column_id" property="columnId" jdbcType="INTEGER" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="title_img" property="titleImg" jdbcType="VARCHAR" />
		<result column="author" property="author" jdbcType="VARCHAR" />
		<result column="content" property="content" jdbcType="VARCHAR" />
		<result column="summary" property="summary" jdbcType="VARCHAR" />
		<result column="href" property="href" jdbcType="VARCHAR" />
		<result column="key_word" property="keyWord" jdbcType="VARCHAR" />
		<result column="publish_time" property="publishTime" jdbcType="TIMESTAMP" />
		<result column="view_count" property="viewCount" jdbcType="INTEGER" />
	</resultMap>
	
	<resultMap id="SummaryResultMap" type="com.jiantong.pojo.ArticleSummary">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="title_img" property="titleImg" jdbcType="VARCHAR" />
		<result column="summary" property="summary" jdbcType="VARCHAR" />
		<result column="href" property="href" jdbcType="VARCHAR" />
		<result column="_year" property="year" jdbcType="VARCHAR" />
		<result column="_date" property="date" jdbcType="VARCHAR" />
	</resultMap>
	
	<select id="getArticleList" parameterType="com.jiantong.bean.ArticleBean" resultMap="BaseResultMap">
		SELECT id, column_id, title, title_img, is_top, is_recommend, sort, view_count, create_time
		FROM cms_article WHERE <![CDATA[ status <> 0 ]]>
		<if test="title !=null and title != ''">
			AND title like CONCAT('%', #{title}, '%')
		</if>
		<if test="columnIds != null and columnIds.size > 0">
			AND	column_id in
			<foreach collection="columnIds" index="index" item="columnId" open="(" separator="," close=")">
				#{columnId}
			</foreach> 	
		</if>
		ORDER BY create_time desc
	</select>
	
	<select id="getArticleByKey" parameterType="Integer" resultMap="DetailResultMap">
		SELECT * FROM cms_article WHERE id = #{id}
	</select>
	
	<insert id="addArticle" parameterType="com.jiantong.vo.ArticleVo">
		INSERT INTO cms_article(column_id, title, title_img, 
		content, summary, href, key_word, publish_time, is_top, is_recommend, 
		sort, status, creater_id, create_time, updater_id, update_time ) 
		VALUES(#{columnId}, #{title}, #{titleImg}, 
		#{content}, #{summary}, #{href}, #{keyWord}, 
		#{publishTime}, #{isTop}, #{isRecommend}, #{sort}, 
		#{status}, #{createrId}, #{createTime}, #{updaterId}, #{updateTime})
	</insert>
	
	<update id="updateArticle" parameterType="com.jiantong.vo.ArticleVo">
		UPDATE cms_article
		<trim prefix="SET" suffixOverrides=",">
			<if test="null != columnId and '' != columnId">column_id=#{columnId},</if>
			<if test="null != title and '' != title">title=#{title},</if>
			<if test="null != titleImg and '' != titleImg">title_img=#{titleImg},</if>
			<if test="null != content and '' != content">content=#{content},</if>
			<if test="null != summary and '' != summary">summary=#{summary},</if>
			<if test="null != href and '' != href">href=#{href},</if>
			<if test="null != keyWord and '' != keyWord">key_word=#{keyWord},</if>
			<if test="null != publishTime and '' != publishTime">publish_time=#{publishTime},</if>
			<if test="null != isTop and '' != isTop">is_top=#{isTop},</if>
			<if test="null != isRecommend and '' != isRecommend">is_recommend=#{isRecommend},</if>
			<if test="null != sort and '' != sort">sort=#{sort},</if>
			<if test="null != updaterId and '' != updaterId">updater_id=#{updaterId},</if>
			<if test="null != updateTime">update_time=#{updateTime},</if>
		</trim>
		WHERE id = #{id}
	</update>
	
	<update id="updateArticleViewCount" parameterType="Integer">
		UPDATE cms_article SET view_count = view_count + 1 WHERE  id = #{id}
	</update>
	
	<update id="deleteArticle" parameterType="java.util.List">
		UPDATE cms_article set status = 0 where id in
		<foreach collection="list" index="index" item="id" open="(" separator="," close=")">
			#{id}
		</foreach> 
	</update>
	
	<select id="getArticleByColumnId" parameterType="Integer" resultMap="DetailResultMap">
		SELECT * FROM cms_article WHERE column_id = #{columnId} ORDER BY is_top desc, sort asc LIMIT 1;
	</select>
	
	<select id="getArticleListByColumnId" parameterType="Integer" resultMap="SummaryResultMap">
		SELECT id, title, title_img, summary, href, year(publish_time) _year, DATE_FORMAT(publish_time, '%m-%d') _date
		FROM cms_article WHERE <![CDATA[ status <> 0 ]]>
		AND column_id = #{columnId}
		ORDER BY is_top desc, sort asc
	</select>
	
	<select id="getArticleListTopByColumnId" parameterType="Integer" resultMap="SummaryResultMap">
		SELECT id, title, title_img, summary, href, year(publish_time) _year, DATE_FORMAT(publish_time, '%m-%d') _date
		FROM cms_article WHERE <![CDATA[ status <> 0 ]]>
		AND column_id = #{columnId}
		ORDER BY is_top desc, sort asc limit 4
	</select>
	
</mapper>