<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespase="com.jiantong.dao.ArticleDao">
	<resultMap id="BaseResultMap" type="com.jiantong.entity.Article">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="column_id" property="columnId" jdbcType="INTEGER" />
		<result column="root_column_id" property="rootColumnId" jdbcType="INTEGER" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="title_img" property="titleImg" jdbcType="VARCHAR" />
		<result column="publish_time" property="publishTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<resultMap id="DetailResultMap" type="com.jiantong.entity.Article">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="column_id" property="columnId" jdbcType="INTEGER" />
		<result column="root_column_id" property="rootColumnId" jdbcType="INTEGER" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="title_img" property="titleImg" jdbcType="VARCHAR" />
		<result column="content" property="content" jdbcType="VARCHAR" />
		<result column="summary" property="summary" jdbcType="VARCHAR" />
		<result column="key_word" property="keyWord" jdbcType="VARCHAR" />
		<result column="publisher_id" property="publisherId" jdbcType="INTEGER" />
		<result column="publish_time" property="publishTime" jdbcType="TIMESTAMP" />
		<result column="view_count" property="viewCount" jdbcType="INTEGER" />
	</resultMap>
	<select id="getArticleByRootColumnId" parameterType="Integer" resultMap="BaseResultMap">
		SELECT id, column_id, root_column_id, title, title_img, publish_time
		FROM cms_article WHERE root_column_id = #{rootColumnId} AND status <> 0
		ORDER BY top_type desc, sort asc
	</select>
	
	<select id="getArticleByColumnId" parameterType="Integer" resultMap="BaseResultMap">
		SELECT id, column_id, root_column_id, title, title_img, publish_time
		FROM cms_article WHERE column_id = #{columnId} AND status <> 0
		ORDER BY top_type desc, sort asc
	</select>
	
	
	
</mapper>