<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jiantong.dao.ColumnDao">
	<resultMap type="com.jiantong.entity.Column" id="BaseResultMap">
		<id column="id" property="id" jdbcType="INTEGER"/>
		<result column="name" property="name" jdbcType="VARCHAR"/>
		<result column="re_name" property="rename" jdbcType="VARCHAR"/>
		<result column="path" property="path" jdbcType="VARCHAR"/>
		<result column="img" property="img" jdbcType="VARCHAR"/>
		<result column="type" property="type" jdbcType="INTEGER"/>
		<result column="level" property="level" jdbcType="INTEGER"/>
		<result column="channel" property="channel" jdbcType="INTEGER"/>
		<result column="parent_id" property="parentId" jdbcType="INTEGER"/>
		<result column="sort" property="sort" jdbcType="INTEGER"/>
		<result column="is_show" property="isShow" jdbcType="INTEGER" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
	</resultMap>
	<resultMap type="com.jiantong.bean.ColumnTree" id="TreeResultMap">
		<id column="id" property="id" jdbcType="INTEGER"/>
		<result column="name" property="text" jdbcType="VARCHAR"/>
		<result column="level" property="level" jdbcType="INTEGER"/>
		<result column="path" property="path" jdbcType="VARCHAR"/>
	</resultMap>
	<select id="getRootColumn" parameterType="Integer" resultMap="BaseResultMap">
		SELECT * FROM cms_column WHERE parent_id = -1 <![CDATA[ AND status <> 0 ]]> AND channel = #{channel} ORDER BY sort
	</select>
	
	<select id="getTopChildren" parameterType="Integer" resultMap="BaseResultMap">
		SELECT * FROM cms_column WHERE parent_id = #{parentId}  <![CDATA[ AND status <> 0 ]]> ORDER BY sort
	</select>
	
	<select id="getRootColumnForTree" parameterType="Integer" resultMap="TreeResultMap">
		SELECT id, name, level, path FROM cms_column WHERE parent_id = -1 <![CDATA[ AND status <> 0 ]]> AND channel = #{channel}  ORDER BY sort 
	</select>
	
	<select id="getShowRootColumnForTree" parameterType="Integer" resultMap="TreeResultMap">
		SELECT id, name, level, path FROM cms_column WHERE parent_id = -1 <![CDATA[ AND status <> 0 ]]> AND channel = #{channel} AND is_show = 1 ORDER BY sort 
	</select>
	
	<select id="getTopChildrenForTree" parameterType="Integer" resultMap="TreeResultMap">
		SELECT id, name, level, path FROM cms_column WHERE parent_id = #{parentId} <![CDATA[ AND status <> 0 ]]> ORDER BY sort
	</select>
	
	<select id="getShowTopChildrenForTree" parameterType="Integer" resultMap="TreeResultMap">
		SELECT id, name, level, path FROM cms_column WHERE parent_id = #{parentId} <![CDATA[ AND status <> 0 ]]> AND is_show = 1 ORDER BY sort
	</select>
	
	<select id="getColumnList" parameterType="com.jiantong.bean.ColumnBean" resultMap="BaseResultMap">
		SELECT * FROM cms_column WHERE <![CDATA[ status <> 0 ]]>
		<if test="parentId !=null and parentId != ''">
			AND parent_id like CONCAT('%', #{parentId}, '%')
		</if>
		<if test="name !=null and name != ''">
			AND name like CONCAT('%', #{name}, '%')
		</if>
	</select>
	
	<select id="getRootColumnList" resultMap="BaseResultMap">
		SELECT * FROM cms_column WHERE <![CDATA[ status <> 0 ]]>
		AND parent_id = -1
	</select>
	
	<insert id="addColumn" parameterType="com.jiantong.vo.ColumnVo">
		INSERT INTO cms_column(
		name, re_name, path, img, type, 
		level, channel, parent_id, sort, is_show,  
		status, create_time, update_time) 
		VALUES
		(#{name},#{rename},#{path},#{img}, #{type}
		,#{level},#{channel},#{parentId},#{sort},#{isShow}
		,#{status},#{createTime},#{updateTime});
	</insert>
	
	<update id="updateColumn" parameterType="com.jiantong.vo.ColumnVo">
		UPDATE cms_column 
		<trim prefix="SET" suffixOverrides=",">
			<if test="name !=null and name != ''">
				name = #{name},
			</if>
			<if test="rename !=null and rename != ''">
				re_name = #{rename}, 
			</if>
			<if test="path !=null and path != ''">
				path = #{path}, 
			</if>
			<if test="img !=null and img != ''">
				img = #{img}, 
			</if>
			<if test="type !=null and type != ''">
				type = #{type}, 
			</if>
			<if test="level !=null and level != ''">
				level = #{level}, 
			</if>
			<if test="channel !=null and channel != ''">
				channel = #{channel}, 
			</if>
			<if test="parentId !=null and parentId != ''">
				parent_id = #{parentId}, 
			</if>
			<if test="sort !=null and sort != ''">
				sort = #{sort}, 
			</if>
			<if test="status !=null and status != ''">
				status = #{status}, 
			</if>
			<if test="updateTime !=null and updateTime != ''">
				update_time = #{updateTime}, 
			</if>
		</trim> 
		WHERE id = #{id}
	</update>
	
	<update id="deleteColumnList" parameterType="java.util.List">
		UPDATE cms_column set status = 0 where id in
		<foreach collection="list" index="index" item="item" open="(" separator="," close=")">
			#{item}
		</foreach> 
	</update>
	
	<select id="getColumnByPath" resultMap="BaseResultMap">
		SELECT * from cms_column WHERE path = #{path} AND channel = #{channel} ORDER BY id LIMIT 1
	</select>
</mapper>