<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jiantong.dao.UserDao">
	<resultMap id="BaseResultMap" type="com.jiantong.entity.User">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="username" property="username" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
		<result column="locked" property="locked" jdbcType="INTEGER" />
		<result column="salt" property="salt" jdbcType="VARCHAR" />
		<result column="realname" property="realname" jdbcType="VARCHAR" />
		<result column="sex" property="sex" jdbcType="INTEGER" />
		<result column="tel" property="tel" jdbcType="VARCHAR" />
		<result column="create_time" property="createtime" jdbcType="TIMESTAMP" />
		<result column="last_login_ip" property="lasthost" jdbcType="VARCHAR" />
		<result column="last_login_time" property="lastlogintime" jdbcType="TIMESTAMP" />
		<result column="status" property="status" jdbcType="INTEGER" />
	</resultMap>
	<!-- 扩展的sql -->
	<!-- 查询所有记录 -->
	<select id="find" parameterType="com.jiantong.vo.UserVo"
		resultMap="BaseResultMap">
		SELECT
		id,
		username,
		password,
		locked,
		salt
		FROM
		sys_user
	</select>

	<select id="getUserByUsername" parameterType="String" resultMap="BaseResultMap">
		SELECT
		id,
		username,
		password,
		locked,
		salt
		FROM
		sys_user WHERE username =
		#{userName}
	</select>

	<select id="findUserByParam" parameterType="com.jiantong.vo.UserManageVo"
		resultMap="BaseResultMap">
		SELECT * FROM sys_user WHERE
		locked = #{locked} AND status = 1
		<if test="id !=null and id != ''">
			AND id = #{id}
		</if>
		<if test="userid !=null and userid != ''">
			AND userid = #{userid}
		</if>
		<if test="username !=null and username != ''">
			AND username = #{username}
		</if>
		<if test="realname !=null and realname != ''">
			AND realname = #{realname}
		</if>
		<if test="createtimeStart != null and createtimeStart != ''">
       		<![CDATA[ AND create_time >= #{createtimeStart} ]]>
		</if>
		<if test="createtimeEnd != null and createtimeEnd != ''">
       		<![CDATA[ AND create_time <= #{createtimeEnd} ]]>
		</if>
		<if test="lastlogintimeStart != null and lastlogintimeStart != ''">
       		<![CDATA[ AND last_login_time >= #{lastlogintimeStart} ]]>
		</if>
		<if test="lastlogintimeEnd != null and lastlogintimeEnd != ''">
       		<![CDATA[ AND last_login_time <= #{lastlogintimeEnd} ]]>
		</if>
	</select>

	<select id="isHaveUser" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM sys_user WHERE username = #{username}
	</select>

	<insert id="insertUser" parameterType="com.jiantong.entity.User">
		INSERT INTO sys_user(
		username, realname, password, salt,
		sex, tel, last_login_ip,
		last_login_time, locked, create_time, status)
		VALUES
		(
		#{username},
		#{realname}, #{password}, #{salt},
		#{sex},
		#{tel},
		#{lasthost}, #{lastlogintime}, #{locked}, #{createtime}, #{status})
	</insert>

	<update id="updateUser" parameterType="com.jiantong.vo.UserManageVo">
		UPDATE sys_user SET
		realname = #{realname},
		sex = #{sex},
		tel = #{tel},
		locked = #{locked}
		WHERE
		id = #{id}
	</update>

	<delete id="deleteUser" parameterType="Integer">
		DELETE FROM sys_user WHERE
		id = #{id}
	</delete>

	<delete id="deleteUserList" parameterType="java.util.List">  
    <![CDATA[  
       delete from sys_user where id in  
    ]]>
		<foreach collection="list" item="model" open="(" separator=","
			close=")">#{ model.id}
		</foreach>
	</delete>

</mapper>