<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jiantong.dao.UserDao">
	<resultMap id="BaseResultMap" type="com.jiantong.entity.User">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="username" property="username" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
		<result column="locked" property="locked" jdbcType="INTEGER" />
		<result column="salt" property="salt" jdbcType="VARCHAR" />
		<result column="realname" property="realname" jdbcType="VARCHAR" />
		<result column="sex" property="sex" jdbcType="INTEGER" />
		<result column="tel" property="tel" jdbcType="VARCHAR" />
		<result column="create_time" property="createtime" jdbcType="TIMESTAMP" />
		<result column="last_login_ip" property="lasthost" jdbcType="VARCHAR" />
		<result column="last_login_time" property="lastlogintime" jdbcType="TIMESTAMP" />
		<result column="status" property="status" jdbcType="INTEGER" />
	</resultMap>
	<!-- 扩展的sql -->
	<select id="getUserList" parameterType="com.jiantong.bean.UserBean"
		resultMap="BaseResultMap">
		SELECT * FROM sys_user WHERE status <> 0
		<if test="username !=null and username != ''">
			AND username = #{username}
		</if>
		<if test="realname !=null and realname != ''">
			AND realname = #{realname}
		</if>
		<if test="startTime != null and startTime != ''">
       		<![CDATA[ AND create_time >= #{startTime} ]]>
		</if>
		<if test="endTime != null and endTime != ''">
       		<![CDATA[ AND create_time <= #{endTime} ]]>
		</if>
	</select>

	<select id="getUserByUsername" parameterType="String" resultMap="BaseResultMap">
		SELECT
		id,
		username,
		password,
		locked,
		salt
		FROM
		sys_user WHERE username =
		#{userName} AND status <> 0
	</select>

	<insert id="addUser" parameterType="com.jiantong.entity.User">
		INSERT INTO sys_user(
		username, realname, password, salt,
		sex, tel, last_login_ip,
		last_login_time, locked, create_time, status)
		VALUES
		(
		#{username},
		#{realname}, #{password}, #{salt},
		#{sex},
		#{tel},
		#{lasthost}, #{lastlogintime}, #{locked}, #{createtime}, #{status})
	</insert>

	<update id="updateUser" parameterType="com.jiantong.entity.User">
		UPDATE sys_user SET
		realname = #{realname},
		sex = #{sex},
		tel = #{tel},
		locked = #{locked}
		WHERE
		id = #{id}
	</update>
	
	<update id="deleteUserList" parameterType="java.util.List">
		UPDATE sys_user set status = 0 where id in
		<foreach collection="list" index="index" item="item" pen="("separator=","close=")">    
            #{item}    
        </foreach> 
	</update>
</mapper>